body {
    font-family: sans-serif;
}
.container {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrong {
    border: black 3px solid;
    background-color: red;
    color: white;
    font-size: 2em;
    padding: 40px;
    text-align: center;
    width: fit-content;
    height: 150px;
    margin-bottom: 20px;
}
.right {
    border: black 3px solid;
    background-color: lightgreen;
    color: white;
    font-size: 2em;
    padding: 40px;
    text-align: center;
    width: fit-content;
    margin-bottom: 20px;
}
/* .loser {
    border: black 3px solid;
    background-color: blue;
    color: white;
    font-size: 2em;
    padding: 40px;
    text-align: center;
    width: fit-content;
    margin-bottom: 20px;
} */
button {
    color: black;
    background-color: white;
    box-shadow: 2px 2px black;
}
.num-of-tries {
    font-size: 0.6em;
}
#random-guess {
    border: 2px black solid;
    width: 40px;
}
