<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books and Authors</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/show_style.css' %}">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{this_author.first_name}} {{this_author.last_name}}</h4>
                <h5 class="card-subtitle text-muted mb-2">ID: {{this_author.id}}</h5>
                <p class="card-text">Notes: {{this_author.notes}}</p>
                <h5 class="card-subtitle">Books:</h5>
                <ul>
                    {% for book in this_author.books.all %}
                    <li>{{book.title}}</li>
                    {% endfor %}
                </ul>
                <form action="/book_to_author/" method="post" class="add-form">
                    <input type="hidden" name="which_author" value="{{this_author.id}}">
                    {% csrf_token %}
                    <select name="book_to_author" id="book_to_author" class="form-control">
                        <option value="" disabled selected>-select a book-</option>
                        {% for book in all_books %}
                        <option value="{{book.id}}">{{book.title}}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Add" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</body>
</html>