<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
</head>
<body>
    <a href="/shows/">Go Back</a>
    <form action="/shows/{{tv_show.id}}/update/" method="post">
        <h1>Edit Show {{tv_show.id}}</h1>
        {% csrf_token %}
        <div>
            <label for="title">Title</label>
            <input type="text" name="title" value="{{tv_show.title}}">
        </div>
        <div>
            <label for="network">Network</label>
            <input type="text" name="network" value="{{tv_show.network}}">
        </div>
        <div>
            <label for="release_date">Release Date</label>
            <input type="date" name="release_date" value="{{tv_show.release_date}}">
        </div>
        <div>
            <label for="desc">Description</label>
            <textarea name="desc" id="desc" cols="30" rows="10">{{tv_show.desc}}</textarea>
        </div>
        <input type="submit" value="Update">
    </form>
    <a href="/shows/{{tv_show.id}}">Go to Show</a>
</body>
</html>