.forms {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 3px black solid;
    padding: 20px;
}
.container {
    width: fit-content;
    padding: 10px;
}
.display-dojos {
    width: fit-content;
    margin: 0 auto;
    padding-top: 20px;
}
.dojo-names {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dojo-name {
    margin-right: 20px;
}