<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Counter</h1>
        <h2>{{request.session.counter}} time(s)</h2>
        <form action="destroy_session/" method="post">
            {% csrf_token %}
            <button type="submit" id="reset">Reset</button>
        </form>
        <form action="add_two/" method="post">
            {% csrf_token %}
            <button type="submit" id="plus-two">+2</button>
        </form>
        <form action="custom/" method="post">
            {% csrf_token %}
            <label for="custom_number">Increment by: </label>
            <input type="number" name="custom_number" id="custom_number">
            <button type="submit">+</button>
        </form>
    </div>

</body>
</html>