.container {
    width: fit-content;
    text-align: center;
    margin: 50px auto;
    font-family: sans-serif;
}
.buttons {
    display: flex;
    justify-content: center;
}
.btn {
    margin: 10px;
}