header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 2px black solid;
}
main {
    margin-top: 15px;
    display: flex;
}
.books {
    padding: 10px;
}
.alert {
    margin-top: 15px;
}